.payment-page {
  min-height: 80vh;
}

.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-control {
  padding: 0.75rem;
  border-radius: 8px;
}

.form-control:focus {
  border-color: #5624d0;
  box-shadow: 0 0 0 0.2rem rgba(86, 36, 208, 0.25);
}

.btn-primary {
  padding: 0.75rem;
  font-weight: 500;
  background-color: #5624d0;
  border-color: #5624d0;
}

.btn-primary:hover {
  background-color: #401b9c;
  border-color: #401b9c;
} 